<ion-header [translucent]="true">
  <ion-toolbar color="primary">
      <ion-searchbar placeholder="Search Favorites"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="card-background-page">

  <!-- UX handler -->
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-spinner class="custom-spinner" *ngIf="apiLoader"></ion-spinner>
    <!-- Error message if no network -->
  <div class="custom-msg msg-error" *ngIf="customErrorMsg">Oops! please check your internet connection</div>
  <!-- End UX handler -->


  <!-- Banners -->
  <ion-card>
    <img src="./assets/img/banner1.jpg"/>
  </ion-card>

  <ion-grid class="padding-none">
    <ion-row>
      <ion-col size="6"  class="padding-none" *ngFor="let product of products" (click)="goToStore(store)">
        <ion-card class="store-wrapper">
          <img [src]="product.images[0].src" class="img-contain"/>
          <div class="store-overlay"></div>
          <div class="card-title">{{product.name}}</div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Banners -->
  <ion-card>
    <img src="./assets/img/banner1.jpg"/>
  </ion-card>

  
</ion-content>
